bottle==0.13.4
brotli==1.2.0
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.17
mutagen==1.47.0
packaging==26.2
proxy_tools==0.1.0
pycryptodomex==3.23.0
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.1
PyQt6_sip==13.11.1
python-mpv==1.0.8
pywebview==6.2.1
QtPy==2.4.3
requests==2.34.2
typing_extensions==4.15.0
urllib3==2.7.0
websockets==16.0
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
